.form-control {

    background-color: #eee !important;
}

body {
    padding-top: 70px;
}

iframe, object, embed{
    max-width: 100%;
}

.wide-size {
    height: 400px;
}

.font-adjust {
    font-size: 15px !important;
}

.box-layout {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: -19px;
    margin-bottom: 20px;
}

.panel-title {
    font-size: 32px;
}

.space {
    padding: 20px;
}

.btn {
    margin-bottom: 9px;
}

.jumbotron h1 {
    font-size: 57px;
}

@media (max-width: 617px) {
    .jumbotron h1 {
        font-size: 30px;
    }
}
.navbar-brand {
    margin-left: 3.33%;
}